.search{
    border: 0px;
    width: 100%;

}
.search:focus{
    outline: 0px;
}
    
.search-container{
    border: 1px solid #B0BABF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-radius: 5px;
    color: #B0BABF;
    /* height: 20%; */
    padding: 3px;
    width: 62%;
    
}
.logo{
    color: #CF2D2D;
}
.header{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1px 55px;
    background-color: white;
    width: 80%;
   

}
.categories{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    /* height: 60%; */
    height: 35px;
    padding: 5px;
    margin: 5px;
}
.sign-button{
    background-color: transparent;
    border: 1px solid #B0BABF;
    border-radius: 5px;
    padding: 5px;
 
    height: 43%;
    
}
.list{
    width: 70%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.heart{
    color: #B0BABF;
}
.category{
    color: white;
}

@media only screen and (max-width:786px) {

.header{
    display: none;
}
.m-header{
    display: block;
    background-color: white;
    width: 100%;
    padding: 5px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
    
}
@media screen and (min-width:787px) {
    .m-header{
        display: none;
    }
}

.logos{
    color: #B0BABF;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}