.show-container{
   width: 250px;
   height: 300px;
   
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding: 15px;
   

}
.show1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
