.e-card{
    border: 1px;
    margin: 10px;
    margin-left: 0px;
    width: 285px;
    height: 320px;
    border-radius: 5px;
    padding: 5px;
    color: #989090;
    background-color: #ffffff;
    border: 0.5px solid #B0BABF;
    

}
.img-container{
    height: 80%;
    width: 100%;
    /* padding: 5px; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    border-radius: 5px;
    /* border: 1px solid red; */
    

}
.img-container p{
    color: white;
    background-color:black;
    opacity: 0.9;
    width: 100%;
    margin: 0px;
    padding: 2px;
    padding-left: 5px;
}
.card-title{
    color: #1E2022;
    padding: 3px;
}

