.nav-barr{
    /* border: 1px solid; */
    display: flex;
    /* width: 80%; */
   
    justify-content: space-between;
    background-color: #ffffff;
    padding: 5px;
    padding-left: 55px;
    /* border: 1px solid red; */
}
.navbar-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.navbar-items p{
    margin: 0px 5px;
}

@media screen and (max-width:786px) {
    .nav-barr{
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 3px;
        padding-left: 1px;
    }
    .navbar-items{
        overflow-x:scroll;
        padding: 5px;
        padding-left: 0px;
    }
    
}
.location i{
    color: #B0BABF;
}