

.showcard-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid red; */
    
}

@media screen and (max-width:786px) {
    .showcard-container{
        justify-content: center;
    }
    
}