.app{
    background-image: url('../public/images/Banner.png');
    height: 100vh;
    
}
.top{
    width: 93%;
    margin: auto;
   
    
   
}

@media screen and (max-width:786px) {
    .top{
        width: 100%;
       
    }
    
}
