.banner-section {
    background-size: cover;
    height: 100vh;
    color: white;

}


.shows-container {
    
    display: flex;
    /* min-height: 120px; */
    overflow-x: auto;   
    /* scrollbar-color: transparent transparent;  */
    /* user-select: none; */
    
}
.shows-container::-webkit-scrollbar{
    /* width: 0px; */
    height: 1px;
}




